.container {
  width: 100%;
  min-height: 100vh;
  background: #041325;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.main {
  width: 75%;
  max-width: 600px;
  height: auto;
  border-radius: 0.9375rem;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
}

.question_index,
.timer,
.question_text {
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.question_index {
  margin-top: 1rem;
  margin-left: 1rem;
  float: left;
}

.timer {
  color: #d60000;
  margin-top: 1rem;
  margin-right: 1rem;
  float: right;
}

.question_text {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.options_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.text_option {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #f0f0f0;
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text_option.selected {
  border: 3px solid #5076ff;
}

.image_option {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
  background: #f0f0f0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.image_option.selected {
  border: 3px solid #5076ff;
}

.both_option {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  gap: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
}

.both_option.selected {
  border: 3px solid #5076ff;
}

.both_option_text {
  width: 100%;
  padding: 0.5rem;
}

.both_option_img {
  width: 100%;
  height: auto;
}

.submit_btn {
  width: 100%;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #60b84b;
  border: none;
  text-align: center;
  margin-top: 2rem;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .question_index,
  .timer {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .question_text {
    font-size: 1.25rem;
    margin-top: 1rem;
  }

  .options_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .text_option,
  .image_option,
  .both_option {
    margin: 0 auto;
    width: 100%;
    max-width: 18rem;
  }

  .submit_btn {
    font-size: 1rem;
    height: 2.5rem;
    margin: 1rem auto;
  }
}